#testimonial .container {
  max-width: 100%;
  padding: 0;
}

#testimonial .container .row {
  text-align: center;
}


.contain {
    margin: 0;
    width: 100%;
    border-radius: 8px;
  }
  .item {
    align-items: center;
    background-color: #f1f3ff;
    color: black;
    display: flex;
    height: 200px;
    border-radius: 8px;
    justify-content: center;
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 20px;
  }
  
  .item .item-kiri {
    width: 20%;
    margin: 0 1em;
    height: 100%;
    position: relative;
  }
  .item .item-kiri img {
    position: relative;
    top: 30%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 80px;
    border-radius: 1px solid gray;
  }
  .item .item-kanan p img {
    max-width: 80px;
  }
  .item .item-kanan {
    position: relative;
    width: 60%;
    height: 100%;
  }
  .item .item-kanan p {
    position: relative;
    top: 20%;
    text-align: left;
    font-weight: bold;
  }